<!DOCTYPE html>
<html lang="en-us">
<head>

	<title>Durango|Title Here</title>
	<meta charset="utf-8">

</head>

<body>



	<p>

		<img class="equip" src="images/Home Image1.jpg" alt="Durango Jewelry" width="260" height="195" title="Durango Jewelry" >


	</p>


<header>

	
	<h1>	
		
		Durango Jewelry and Gem Shop 


	</h1>   <br>

	<h2>	

		
		Distinguished wire-wrapped jewelry,pendants, and gems 

	</h2>


</header>


<nav> 

	<a href="Home.html">Home </a> &nbsp; &nbsp <a href="Classics.html">Classics </a> &nbsp; &nbsp <a href="Specials.html">Specials </a> &nbsp; &nbsp <a href="Gems.html">Gems </a> &nbsp; &nbsp <a href="Contact Me.html">Contact Me </a> &nbsp; &nbsp  

</nav>

<main> 

	<p>

		TEXT HERE

	</p>


	<p>


		TEXT HERE:<br>


			<ul>

				<li> TEXT HERE </li>
				<li> TEXT HERE </li>
				<li> TEXT HERE </li>
				<li> TEXT HERE </li>
				<li> TEXT HERE </li>


			</ul><br>


	</p>


	<p>

		TEXT HERE


	</p>


</main>


<footer>


	<p>


		Address Line 1, <br>
		Address Line 2, <br>
		Address Line 3 <br>
		Established YYRR

	</p>


		<a href="mailto:template.t@mailserver.com">Contact Us Through email </a>

</footer>





</body>
</html>






























