
 #container {

	 						width:80%;
							margin-left:auto;
							margin-right:auto;
							padding-bottom: 5%;
							border-bottom-color: powderblue;
							border-bottom-width: medium;


 }

 body {

	 			background-color:black;
				font-family: "times new roman",calibri,cursive;
				font-size: 1em;
				color: white;

	}

	.equip {

						float: left;
						padding-right: 10px;
						padding-top: 20px;
						box-shadow: 12px 12px 12px powderblue;

	}
