
 #container {

	 						width:80%;
							margin-left:auto;
							margin-right:auto;
							padding-bottom: 5%;



 }

 body {

	 			background-color:black;
				font-family: "times new roman",calibri,cursive;
				font-size: 1em;
				color: white;

	}

	.equip {

						float: left;
						padding-right: 0px;
						padding-top: 0px;
						margin-right: 30px;
						box-shadow: 10px 10px 12px powderblue;

	}

	h1 {

				padding-left: 30px;
			  font-family: cursive,"times new roman";

	}


h2 {

				margin-bottom: 130px;
				padding-left: 30px;
				font-family: "times new roman",cursive,calibri;
}

nav a{

			 clear: both;
			 margin-left: 100px;
			 text-align: center;
			 padding-top:  10px;
			 padding-right: 10px;
			 padding-bottom: 10px;
			 padding-left: 10px;
			 color: black;
			 background-color: white;
			 border-radius: 15px;

}


main {

			display: block;
			margin-top: 100px;
			background-color: powderblue;
			margin-right: 100px;
			margin-left: 80px;
			border-radius: 30px;
			box-shadow: 5px 8px 10px white;
			max-width: 890px;


}

p {

			padding-top: 20px;
			margin-left: 100px;
			color: black;
			font-weight: bold;


}

ul li {

				color: black;
				list-style-type: none;
				margin-left: 130px;

}

footer {

					margin-left: 445px;
					font-size: 0.8em;
}
